* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body, input, button {
    font-family: sans-serif;
    font-size:14pt;
}

table { border-collapse: collapse; }
td { border: 1px solid #ccc; padding: 2pt; }
.body-container { padding: 10pt; padding-top: 37pt; }
.grid input { border: none; width: 100%; }
.grid-score, .pair-score { width: 30pt; min-width: 20pt; text-align: center; }
.grid-name, .pair-name { width: 120pt; min-width: 80pt; padding-left: 5pt; padding-right: 5pt; }
.pair-title { border: none; padding-top: 12pt; }
.menu-wrapper { width: 100%; height: 100%; position: fixed; left: 0; top: 0; visibility: collapse; }
.menu-wrapper.visible { visibility: visible; }
.menu-wrapper td { border: none; }
.menu { min-width: 150pt; vertical-align: top; padding: 5pt; background-color: #fff; }
.menu-cancel { width: 100%; background-color: #000; opacity: 0.5; }
.menu-item { padding-bottom: 5pt; }
.panel { border-bottom: 1px solid #ccc; position: fixed; width: 100%; background-color: #fff; height: 27pt; }
.panel-box { display: inline-box; padding: 5pt; }